/*All containers are a box with padding and margin = 0*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color to white*/
body {
    background-color: #d9dcd6;
}
/* styles the header + nav, I replaced the class selector with just the element selector (header) */
/*HEADER*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Makes links on header white*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*sizes the 'hero' image and centers it. Note I rearranged the order and put this above p for ease of readability*/
/*HERO IMAGE*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Makes paragraphs on the main section font size 16*/
p {
    font-size: 16px;
}

/*MAIN SECTION*/
/*Sets the images to float to the left of the container with a margin of 25*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Sets the images to float to the right of the container with a margin of 25*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets the main content to a width of 75% with a left margin of 20px*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Styles the main section. I moved this portion of the code to this section to make it easier to follow*/
/*Since I used one class for the 3 main sections, it made it easier to style them all with a few selectors*/

/*MAIN SECTION BOXES*/
.main-section-boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.main-section-boxes img {
    max-height: 200px;
}

.main-section-boxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets the benefits section to the righthand side of the screen*/
/*BENEFITS SECTION*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Styles the righthand portions. I rearranged it so that they were just one class*/
.benefits-boxes {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-boxes h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-boxes img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styles the footer. I changed the selector from class name to semantic element name (footer)*/
/*FOOTER*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
